services:
  flame-object-cache:
    image: xflops/flame-object-cache:latest
    logging:
      options:
        max-size: "100m"
    build:
      context: .
      dockerfile: docker/Dockerfile.cache
    environment:
      - RUST_LOG=debug
    volumes:
      - ./ci/flame-cluster.yaml:/root/.flame/flame-cluster.yaml
      - flame-cache-storage:/var/lib/flame/cache
    ports:
      - 9090:9090

  flame-session-manager:
    image: xflops/flame-session-manager:latest
    logging:
      options:
        max-size: "100m"
    build:
      context: .
      dockerfile: docker/Dockerfile.fsm
    environment:
      - RUST_LOG=debug
    volumes:
      - ./ci/flame-cluster.yaml:/root/.flame/flame-cluster.yaml
    ports:
      - 8080:8080

  flame-executor-manager:
    image: xflops/flame-executor-manager:latest
    logging:
      options:
        max-size: "100m"
    build:
      context: .
      dockerfile: docker/Dockerfile.fem
    environment:
      - RUST_LOG=debug
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    volumes:
      - ./ci/flame-cluster.yaml:/root/.flame/flame-cluster.yaml
      - ./examples:/opt/examples
      - ./e2e:/opt/e2e
      - flame-packages:/opt/flame/packages
      - ./work:/opt/flame/work

  flame-console:
    image: xflops/flame-console:latest
    logging:
      options:
        max-size: "100m"
    build:
      context: .
      dockerfile: docker/Dockerfile.console
    environment:
      - RUST_LOG=info
    volumes:
      - ./ci/flame.yaml:/root/.flame/flame.yaml
      - ./examples:/opt/examples
      - ./e2e:/opt/e2e
      - flame-packages:/opt/flame/packages
      - flame-cache-storage:/var/lib/flame/cache

volumes:
  flame-packages:
  flame-cache-storage:
